@import "tailwindcss";

:root {
  --primary: #FC004E;
  --secondary: #00e7f9;
  --secondary-gradient: #10cbe0;
  --gray: #ababab;
  --body: #010101;
  --link: #A9A9A9;
}


body {
  background: var(--body);
  color: var(--text);
  font: var(--fong-figtree);
}

.font-figtree {
  font-family: 'Figtree', sans-serif;
}

.font-urbanist {
  font-family: 'Urbanist', sans-serif;
}

.text-shadow {
  text-shadow: 0 4px 4px var(--primary);
}

.button-shadow {
  box-shadow: 2px 2px 10px 0 var(--secondary);
}


