@import "tailwindcss";

:root {
  --primary: #fc004e;
  --secondary: #10cbe0;
  --text: #ffffff;
  --gray: #ababab;
  --body-bg: #010101;
  --secondary-text: #00e7f9;
  --secondary-text-shadow: #fc004e;
  --button-bg: #fc004e;
  --button-shadow: #00e7f9;
}


body {
  background: var(--body-bg);
  color: var(--text);
}
