@import "tailwindcss";

:root {
  --primary: #FC004E;
  --secondary: #00e7f9;
  --secondary-gradient: #10cbe0;
  --gray: #ababab;
  --body: #010101;
}


body {
  background: var(--body);
  color: var(--text);
  font: 'Figtree', sans-serif;
}

.font-figtree {
  font-family: 'Figtree', sans-serif;
}

.font-urbanist {
  font-family: 'Urbanist', sans-serif;
}
